.navbar-default {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(176,155,79,0.4);
    background-color: rgba(255,255,255,0);
    height: 100px;
}

.navbar-default img {
    max-height: 40px;
}

.navbar-default .logo {
    line-height: 100px;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    position: relative;
    outline: none;
    display: block;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    padding: 0 14px;
    font-size: 13px;
    line-height: 100px;
}

.navbar-default li:hover a {
    color: #b39d52!important;
}
